/* 모든 테이블 기본 설정 */
.table-bordered {
  border-collapse: separate;
  border-radius: 16px !important;
  overflow: hidden;
  box-shadow: var(--get_shadow);
  margin-bottom: 0 !important;
  width: 100%; /* Set width to 100% for responsiveness */
}



.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

pre {
  width: 95%;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 12pt;
  color: var(--black);
  line-height: 160%;
  font-family: 'NanumSquareRound', verdana, tahoma;
}


.container, #board_commentArea {
    width: 70%; /* Set the width of the container */
    margin: 0 auto; /* Center the container horizontally */
}

/* Comment section styles */
#board_commentArea {
    padding-top :200px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .container,
    #board_commentArea {
        width: 100%; /* Full width on smaller screens */
    }
}

#page_category {
    color: #777;
    font-size: 16px; 
}

#boardView_post_title {
	font-size : 30px;
	font-weight: bold;
}


#boardView_post_writer_id{
	color: #777;
    font-size: 14px; 
}

#icons_in_header {
  padding-left : 20px;
  font-size : 14px;
  color: #777;
}

#currentPageUrl {
	width: 630px;
	cursor: pointer;
}

.post-content{
    font-size : 20px;
    padding-top: 70px;
}


.recommend-button {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center;
    cursor: pointer;
    border: 2px solid #007bff; /* Border color for the button */
    border-radius: 5px; /* Rounded corners for the button */
    padding: 5px 10px; /* Adjust padding as needed */
    margin: 10px auto; /* Center the button and add margin as needed */
    width: 80px; /* Adjust the width as needed */
    max-width: 120px; /* Maximum width for the button */
}

.recommend-button.active {
    background-color: #007bff; /* Background color when active */
    color: #ffffff; /* Text color when active */
}

    .recommend-icon {
        width: 20px; /* Adjust the size as needed */
        height: auto;
        margin-right: 5px; /* Adjust the spacing as needed */
    }

    .recommend-label {
        font-size: 14px; /* Adjust the font size as needed */
        color: #007bff; /* Text color for the label */
    }

    /* Additional styles for when the button is active (recommended) */
    .recommend-button.active {
        background-color: #007bff; /* Background color when active */
        color: #ffffff; /* Text color when active */
    }


#icons_in_header {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}

#icons_in_header img,
#recommend-loading {
    margin-right: 10px; /* 각 아이콘들 간의 간격 조절 */
}