@charset "UTF-8";

  .header {
    padding-left: 280px;
  }

  .sidebar {
    width: 280px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f8f9fa;  
    padding-top: 20px;
  }

  .header {
    padding-left: 280px; /* Adjust the padding as needed */
  }

  .search-form {
    width: 50%; /* Adjust the width as needed */
  }
  
 .mainContent {
	 padding-left : 430px;
	 padding-top : 20px;
	 width: 94%;
 }
 
     .pagination-container {
        display: flex;
    }

    .pagination {
        margin-right: 5px; /* Adjust as needed for spacing */
    }
    
    
       .pagination-container {
        display: flex;
        justify-content: center; /* Center the pagination buttons horizontally */
        margin-top: 20px; /* Adjust as needed for spacing */
    }

    .pagination {
        margin: 0 5px; /* Adjust as needed for spacing */
    }

    .pagination a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .pagination a:hover {
        background-color: #ddd;
    }