@charset "EUC-KR";

.w3-main .w3-center { border: 1px black solid; border-radius: 5px;}
.w3-main .w3-center .mypage { border-radius: 5px; height: 70%; }
.w3-main .w3-center .mypage .top { display: grid; width: 100%; }
.w3-main .w3-center .mypage div .title { justify-self: center; }

.w3-main .w3-center .mypage .setting { display: grid; width: 100%; align-content: space-between; }
.w3-main .w3-center .mypage .setting div { 
	display: grid; 
	justify-self: center; 
	background-color: orange; 
	border: 1px #ee4514 solid; 
	border-radius: 5px; 
	color: white; 
	width: 200px; 
	padding: 5px 10px; 
	font-weight: 900; 
	cursor: pointer; 
	position: relative;
	margin-bottom: 26px;
}

.w3-main .w3-center .mypage .setting div:hover {
	background-color: orangered;
	border-color: darkorchid;
	border-width: 1.5px;
}

.w3-main .w3-center .mypage .setting .unregi { margin-top: 322px; }

.record_add_pop { position: fixed; right: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.2);
    z-index: 2000; overflow: hidden; display: none;}
.record_add_pop .inner { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
    background: white; width: calc(100% - 30px); max-width: 500px; height: 100%; max-height: 500px; border-radius: 10px;
    padding: 40px; display: flex; flex-flow: column; }
.record_add_pop .inner h2 { font-size: 22px; padding-bottom: 5px; margin-bottom: 15px; border-bottom: 1px solid #E1E1E1; font-weight: bold; }
.record_add_pop .inner .record_add_wrap { max-height: 310px; overflow-y: auto; }
.record_add_pop .inner .record_add_box { padding:0; border:0; border-spacing:0; border-collapse:collapse; width: 100% }
.record_add_pop .inner .record_add_box thead { background: #E1E1E1; line-height: 2; }
.record_add_pop .inner .record_add_box tbody td { text-align: center; padding: 5px; font-size: 14px;}
.record_add_pop .inner .btn_box { width: 100%; margin-top: auto; }

.black_line_btn { width: 100%; cursor: pointer; color: #222; background: white; border: 1px solid #222; text-align: center; height: 45px; border-radius: 6px; font-size: 18px; display: block; line-height: 2.5; }