body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.rowbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: inherit;
}
.small-font {
	font-size: 0.8rem;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #FAECC5;
  font-size: 1.4rem;
  font-weight: 700;
  width: 490px;
  height: 40px;
  border-radius: 30px 30px 0 0;
}
.payment-options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-option {
    border: solid #ddd;
    border-width: 2px 0 0 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100px;
}
.select {
    background-color: #eee;
}
.payment-option img {
    height: 100px;
}
.payment-cansle {
    border: 2px solid #ddd;
    border-radius: 15px;
    padding: 1vw 3vw;
    margin: 1vw 0 0 0;
}
.payment-card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 490px;
	height: 300px;
	border: soild #ddd;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
  	border-radius: 0 0 30px 30px;
}