@font-face {
  font-family: 'SUIT Variable';
  font-weight: 100 900;
  src: url('../font/SUIT-Variable.woff2') format('woff2-variations');
}
body {
  font-family: SUIT Variable;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.colbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rowbox {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: inherit;
}
.small-font {
  font-size: 0.8rem;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #bb2649;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  width: 490px;
  height: 40px;
  border-radius: 30px 30px 0 0;
}
.payment-options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-option {
  border: solid #ddd;
  border-width: 2px 0 0 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 100px;
}
.select {
  background-color: #eee;
}
.payment-option img {
  height: 100px;
}
.payment-ok {
  background-color: #bb2649;
  border: 2px solid #ddd;
  border-radius: 15px;
  padding: 1vw 3vw;
  margin: 1vw 0 0 0;
  cursor: pointer;
}
.payment-cancle {
  border: 2px solid #ddd;
  border-radius: 15px;
  padding: 1vw 3vw;
  margin: 1vw 0 0 0;
  cursor: pointer;
}
.payment-card {
  border: solid #ddd;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 490px;
  height: 300px;
}
.purchase-page-button-left {
  width: 11px;
  height: 11px;
  border: solid #ccc;
  border-width: 6px 0 0 6px;
  rotate: -45deg;
  margin-top: 9px;
  margin-left: 5px;
  cursor: pointer;
}
.purchase-page-button-right {
  width: 11px;
  height: 11px;
  border: solid #ccc;
  border-width: 6px 6px 0 0;
  rotate: 45deg;
  margin-top: 9px;
  margin-right: 5px;
  cursor: pointer;
}
.purchase-page-button-main {
  font-size: 18px;
  margin-top: 4px;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}
.price-name {
  font-size: 1.12rem;
  font-weight: 500;
  letter-spacing: 0.008rem;
}
.price-value {
  font-size: 1.07rem;
  font-weight: 400;
  letter-spacing: 0.034rem;
}
.flex-between {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 210px;
  padding: 7px 14px;
}
.numeric-keypad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 62px;
  background-color: #eee;
  border-radius: 8px;
  cursor: pointer;
  margin: 3px;
}
.numeric-clear {
  height: 42px;
  width: 134px;
}
.basket {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: inherit;
  border: solid #ddd;
  border-bottom-width: 2px;
  align-self: center;
  padding: 3px 0;
}
.bottom-border {
  border-bottom-width: 2px;
}
.right-bottom-border {
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.within-top-border {
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.left-top-corner {
  border-radius: 30px 0 0 0;
}
.right-top-corner {
  border-radius: 30px 30px 0 0;
}
.left-bottom-corner {
  border-radius: 0 0 0 30px;
}
.right-bottom-corner {
  border-radius: 0 0 30px 0;
}
